/* Skills.css */
.skill-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .skill-header {
    font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    margin-top: 80px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .skill-header::after {
    content: "";
    display: block;
    width: 500px;
    height: 5px;
    background-color: #000000;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .skill-containers {
    display: flex;
    gap: 100px; /* Adjust the spacing between the containers */
    width: 100%;
    max-width: 1400px; /* Adjust as needed */
    margin-top: 40px;
    justify-content: space-between;
  }
  
  .skill-container {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
  }
  
  .skill-legend {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    font-family: ui-sans-serif, system-ui,"Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }



.photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .photo-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
  }
  
  .rounded-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid black;
  }

  .image-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .rounded-button {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #987ee7;
    color: #ffffff;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .rounded-button:hover {
    background-color: #5F009C;
  }
  
  