/* Contact_Me.css */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    height: 100vh;
  }
  
  .contact-overlay {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 600px; 
    width: 100%;
    text-align: center;
  }
  
  .rounded-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #987ee7;
    color: #ffffff;
    margin: 10px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
  }
  
  .rounded-button:hover {
    background-color: #5F009C;
  }
  