/* ProjectPage.css */

.project-page {
    text-align: center;
    padding: 20px;
  }
  
  .back-button {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .back-icon {
    margin-right: 8px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .project-header {
    font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .header-line {
    content: "";
    display: block;
    width: 500px;
    height: 5px;
    background-color: #000000;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }